.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
    padding: 10px;
    display: contents;
  }
  
  .dropdown-menu {
    background-color:#222222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    right: 18px;
    width: 150px;
    z-index: 1;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    text-align:right ;
  }
  .video-block { width: 32%;
    float: left;}
